/*----------------
    Fonts
-------------------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: Qlassik;
    src: url("Qlassik_TB.otf") format("opentype");
}

@font-face {
    font-family: Qlassik;
    font-weight: bold;
    src: url("QlassikBold_TB.otf") format("opentype");
}

/*----------------
    Global css
-------------------*/

:root {
    /* #6b51f0*/
    /*a200ff*/
    --teal-50: #e0f3ee;
    --teal-100: #b3e1d3;
    --teal-200: #82ceb6;
    --teal-300: #50ba9a;
    --teal-400: #29ab86;
    --teal-500: #009c74;
    --teal-600: #008e68;   
     --teal-700: #007e59;
    --teal-800: #006e4b;
    --main-color: var(--teal-400);
    --color-1: #4fb861;
    --color-2: #f593a9;
    --color-3: #ea4d6e;
    --bg-dark: #2b2c2f;
    --main-to-dark-color: var(--teal-50);
    /* --dark-to-main-color: var(--bg-dark); */
    --shadow-black-100: 0 5px 15px rgba(0, 0, 0, 0.1);
    --shadow-black-300: 0 5px 15px rgba(0, 0, 0, 0.3);
    --black-900: #000;
    --black-400: #555;
    --black-100: #f7f7f7;
    --black-000: #fff;
    --black-alpha-100: rgba(0, 0, 0, 0.05);
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    overflow-x: hidden;
    background-color: #fff;
    line-height: 1.5;
}



* {
    margin: 0;
    padding: 0;
    outline: none !important;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

ul {
    list-style: none;
}

@keyframes spin_01 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes bounceTop_01 {
    0%,
    100% {
        transform: translateY(-30px);
    }
    50% {
        transform: translateY(0px);
    }
}

@keyframes pulse_01 {
    0% {
        transform: scale(0.94);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 12px rgba(255, 255, 255, 0);
    }
    100% {
        transform: scale(0.94);
        box-shadow: 0 0 0 rgba(255, 255, 255, 0);
    }
}

@keyframes zoomInOut_01 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.effect-wrap .effect {
    position: absolute;
    z-index: -1;
}

.effect-wrap .effect-1 {
    left: 20%;
    top: 20%;
    font-size: 20px;
    color: var(--color-2);
    animation: spin_01 5s linear infinite;
}

.effect-wrap .effect-2 {
    right: 5%;
    top: 10%;
    font-size: 25px;
    color: rgba(255, 255, 255, 0.5);
    animation: spin_01 7s linear infinite;
}

.effect-wrap .effect-3 {
    left: 5%;
    bottom: 30%;
    font-size: 20px;
    color: var(--color-3);
    animation: bounceTop_01 5s linear infinite;
}

.section-padding {
    padding: 80px 0;
}

.section-title {
    margin-bottom: 60px;
}

.section-title h2 {
    font-size: 40px;
    color: var(--black-900);
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
    margin: 0;
}

.section-title h2 span {
    color: var(--main-color);
}


/**********************
    Preloader
**********************/

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 2100;
    background-color: var(--teal-50);
    display: flex;
    align-items: center;
    justify-content: center;
}

.preloader span {
    display: block;
    height: 60px;
    width: 60px;
    background-color: var(--dark-to-main-color);
    border-radius: 50%;
    animation: zoomInOut_01 1s ease infinite;
}


/*----------------
    Navbar
-------------------*/

.navbar {
    background-color: var(--main-to-dark-color);
    padding: 20px 0;
    transition: all 0.5s ease;
    font-family: 'Qlassik', 'Poppins', sans-serif;
}

.navbar>.container {
    padding: 0;
}

.navbar .navbar-brand {
    font-size: 30px;
    color: var(--teal-400);
    font-weight: 500;
    text-transform: capitalize;
}

.navbar .nav-item {
    margin-left: 40px;
}

.navbar .nav-item .nav-link {
    color: var(--black-900);
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 400;
    padding: 5px 0;
    position: relative;
}

.navbar .nav-item .nav-link::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    background-color: var(--black-900);
    transition: all 0.5s ease;
    transform: scale(0);
}

.navbar .nav-item .nav-link.active::before,
.navbar .nav-item .nav-link:hover::before {
    transform: scale(1);
}

.navbar p{
    line-height: 1;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}


/*----------------
    Home Section
-------------------*/

.home {
    min-height: 75vh;
    padding: 30px 0;
    background-color: var(--main-to-dark-color);
    border-radius: 0 0 200px 0;
    position: relative;
    z-index: 1;
    overflow-x: hidden;
}

.home .home-btn {
    margin-top: 40px;
}

.home .home-btn .play-store{
    height: 80px;
}

.home .home-btn .app-store{
    height: 55px;
}

.home .home-btn .video-play-button {
    margin-left: 30px;
    height: 50px;
    width: 50px;
    padding: 0;
    animation: pulse_01 2s ease infinite;
}

.home .home-btn .video-play-button i {
    line-height: 50px;
}

.home .home-btn .video-play-button:hover {
    animation: none;
    box-shadow: var(--shadow-black-300);
}

.home-img img {
    max-width: 250px;
    width: 100%;
    box-shadow: var(--shadow-black-100);
    border-radius: 20px;
    animation: bounceTop_01 3s ease infinite;
}

.home-img {
    position: relative;
}

.home-text h1 {
    font-size: 45px;
    font-weight: 700px;
    color: var(--black-900);
    margin: 0 0 20px;
}

.home-text p {
    font-size: 18px;
    line-height: 28px;
    color: var(--black-900);
    margin: 0;
    font-weight: 300;
}

/*------------------------
   Footer section
--------------------------*/

.footer {
    background-color: var(--main-color);
    padding: 30px 0 0;
}

.footer-col h3 {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    margin: 0 0 25px;
    text-transform: capitalize;
}

.footer-col p {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 300;
    line-height: 26px;
    margin: 0;
}

.footer-col ul {
    margin: 0;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font: 16px;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 300;
    display: block;
    transition: all 0.5s ease;
    text-decoration: none;
}

.footer-col ul li a:hover {
    padding-left: 5px;
}

.footer .copyright-text {
    padding: 20px 0;
    text-align: center;
    font: 16px;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 300;
    margin: 20px 0 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

/* ********************
    Typing effect
***********************/

.typing-wrapper{
    margin-top:1rem;
}
.ml11 {
    font-weight: 500;
    font-size: 2.5em;
    margin-bottom: 0;
    margin:auto;
  }
  
  .ml11 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
  }
  
  .ml11 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #006e4b;
    transform-origin: 0 50%;
  }
  
  .ml11 .line1 { 
    top: 0; 
    left: 0;
  }
  
  .ml11 .letter {
    display: inline-block;
    line-height: 1em;
  }


/* ********************
    Responsive
***********************/

@media(max-width:991px) {
    .navbar-toggler {
        background-color: var(--dark-to-main-color);
        box-shadow: var(--shadow-black-300);
        height: 34px;
        width: 44px;
        padding: 0;
        font-size: 17px;
        color: var(--black-900);
    }
    .navbar-nav {
        background-color: var(--teal-50);
        box-shadow: var(--shadow-black-300);
    }
    .navbar .nav-item {
        margin: 0;
        padding: 5px 15px;
    }
    .home-text h1 {
        font-size: 40px;
    }
    .pricing-plan,
    .how-it-works-item,
    .app-download-item {
        margin-bottom: 30px;
    }
    .how-it-works-item.line-right::before {
        content: none;
    }
    .how-it-works-item {
        box-shadow: var(--shadow-black-100);
        border-radius: 10px;
    }
    .footer-col {
        margin-top: 30px;
    }
}

@media(max-width:767px) {
    .home-text {
        margin-bottom: 80px;
    }
    .fun-facts-img {
        margin-bottom: 30px;
    }
    .contact-form {
        margin-top: 20px;
    }
    .footer-col {
        margin-top: 30px;
    }
    .section-title h2 {
        font-size: 35px;
    }
    .fun-facts .section-title h2 {
        text-align: center;
    }
    .navbar p{
        font-size:12px;
    }
}

@media(max-width:575px) {
    .home-text h1 {
        font-size: 30px;
    }
    .home-text p {
        font-size: 16px;
    }
    .section-title h2 {
        font-size: 30px;
    }
    .home .home-btn .play-store{
        height: 60px;
    }
    
    .home .home-btn .app-store{
        height: 40px;
    }
    .ml11 {
        font-weight: 500;
        font-size: 1.5em;
        margin-bottom: 0;
        margin:auto;
      }
    .navbar .navbar-brand {
        padding-bottom: 0;        
        padding-top: 0;
    }
    .footer {
        padding: 0;
    }
}